/*===============*/
/*======Header=========*/
/*===============*/

html, body {
  margin:0;
  padding:0;
}

#sidenav-overlay {
  z-index: 1;
}

.title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
}
.myButtons {
  display: inline-block;
  height: 35px;
}

.thisButton {
  border: 1px solid black;
  border-radius: 10%;
  font-size: 22px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  height: 35px;
}
.thisButton a {
  color: black;
}
.thisButton:hover {
  background-color: white;
  cursor: pointer;
}
.redNote {
  text-align: center;
  margin-top: -5px;
  color: red;
  margin-bottom: 4%;
}
@media (min-width: 700px) {
  .whenSmall {
    display: none;
  }
  h1 {
    font-size: 72px;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
  }
  h2 {
    font-size: 40px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
  }
  .headimg {
    height: 175px;
    width: 175px;
    text-align: center;
    border-radius: 9000px;
    border: 8px solid white;
    box-shadow: 0px 3px 0px #BBBBBB;
    z-index: 20;
  }
  .test {
    text-align: center;
    margin-top: -90px;
    /*margin-top: -7%;*/
  }
  .headerimg {
    width: 100%;
    height: 87vh;
    background-image: url("../img/headerimage.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logoimg {
    margin-bottom: -3px;
  }
  .logoimg:hover {
    cursor: pointer;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 44px;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
  }
  h2 {
    font-size: 36px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
  }
  .headimg {
    height: 175px;
    width: 175px;
    text-align: center;
    border-radius: 9000px;
    border: 8px solid white;
    box-shadow: 0px 3px 0px #BBBBBB;
    z-index: 20;
  }
  .test {
    text-align: center;
    /*margin-top: -25%;*/
    margin-top: -90px;
  }
  .headerimg {
    width: 100%;
    height: 75vh;
    background-image: url("../img/headerimage.png");
    background-repeat: no-repeat;
  }
  .logoimg {
    margin-bottom: -3px;
  }
  .logoimg img {
    height: 60px;
  }
  .logoimg:hover {
    cursor: pointer;
  }
}

a {
  color: #00B7FF;
}

.icon {
  height: 28px;
}
.icona {
  margin-top: 7px;
}

nav {
  background-color: white !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.16),0 0 0 0 rgba(0,0,0,0.12);
  position: fixed;
  z-index: 2;
}

.nohover:hover {
  background-color: transparent !important;
}

.line {
  border-bottom: grey 1px solid;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.16),0 10px 10px 0 rgba(0,0,0,0.12);
}

nav ul a {
  color: black !important;
}

/*===============*/
/*======Projects=========*/
/*===============*/

#portHeader, #skillsecHeader, #aboutme {
  margin-top: 6%;
  text-align: center;
}

.card {
  height: 250px;
  width: 100%;
}

.card-image {
  height: 150px;
}

.onRequest {
  color: red;
}
.onRequest:hover {
  cursor: pointer;
}

/*===============*/
/*======Skills=========*/
/*===============*/
.card-panel {
  height: 240px;
}
.skillHeader{
  text-align: center;
  font-size: 18px;
}
#skillHeader{
  text-align: center;
  margin-top: -3px;
}

/*===============*/
/*======About Me=========*/
/*===============*/
#shpeel {
  font-size: 20px;
}
.downloadSet {
  margin-top: 1px;
}
.inLine {
  display: inline-block;
}

#resumeModal {
  width: 90%;
  height: 800px !important;
}
.centerResume {
  text-align: center;
}

footer {
  margin-top: 10%;
  font-size: 36px;
}
